/* App.css */

.App {
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.light-theme {
  background-color: #fff;
  color: #333;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.toggle-button {
  cursor: pointer;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  position: relative;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.toggle-button:before {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

.dark-mode .toggle-button {
  background-color: #666;
}

.dark-mode .toggle-button:before {
  transform: translateX(25px);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s; 
}

.dark-mode .container {
  background-color: #424242;
  border-color: #616161; 
}

h2 {
  color: #333;
  transition: color 0.3s;
}

.dark-mode h2 {
  color: #fff; 
}

.button {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.dark-mode .button {
  background-color: #50597b; 
  border-color: #404860; 
}

.input,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.dark-mode .input,
.dark-mode select {
  background-color: #616161; 
  color: #fff; 
  border: 1px solid #757575;
}

.dark-mode ::placeholder {
  color: #bdbdbd; 
}

.task {
  border: 1px solid #eee;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s; 
}

.dark-mode .task {
  background-color: #616161; 
  border: 1px solid #757575; 
}

.task h3 {
  margin-top: 0;
  color: inherit;
}

.loading,
.error {
  text-align: center;
  padding: 20px;
}

.error {
  color: #ff0000;
}

.dark-mode .error {
  color: #ff8080; 
}
